:root {
    --text-white: #eee;
    --text-orange: 221, 149, 42;
}

.Th {
font-weight:bold;
color:var(--text-white);
background-color: rgb(220,220,220,0.2);
text-align:center;
vertical-align:middle;
width:100vh
}

.Table {
    width:100%;
    color:var(--text-white);
    background:transparent;
    text-align:center;
    vertical-align:middle;
}


.Iconbox {
    display:inline-block;
    max-width:initial;
}

.wikitable {
    background: transparent;
    color: var(--text-white);
    font-size: min(max(1vw,10px),16px);
    margin-top: 1%;
}

.wikitable th,#content .wikitable caption {
    font-weight: bold;
    color: var(--text-white);
    background-color: rgb(220,220,220,0.2);
    text-align: center;
    vertical-align: middle
}

.wikitable caption,#content .wikitable td,#content .wikitable th {
    border-color: #444;
    border: 1px solid #a2a9b1;
    color: var(--text-white);
    border-spacing: 0px
}

td a {
    color: rgb(var(--text-orange));
}

h1 {
    color: var(--text-white);
    margin-top: 2%;
    text-align: left;
}