
.Background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

:root {
    --dropdown-background-color: rgb(77, 77, 77);
}

.MainContainerWrapper {
    left: 25vw;
    top: 20vh;
    width: auto;
    position: absolute;
    min-width: 450px;
    max-width: 1400px;
    color: rgb(var(--text-orange));
}

.MainContainer {
    padding: 1%;
    background-color: rgba(20, 20, 20, 0.836);
    box-shadow: 0 0px 8px 6px var(--dropdown-background-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    z-index: unset;
    position: relative;
}

.ListContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    min-width: 300px;
    position: relative;
    z-index: 2;
    
}


.GearDropDownContainer{
    display: grid;
    width: 100%;
    cursor: var(--cursor-blue);
    padding: 5px;
    border-radius: 10px;
    min-width: 200px;
}

/*the list title that shows the list when hovered over*/
.GearDropDownHeader{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    text-align: left;
    color: var(--text-orange);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.ArrowImage {
    width: 10px;
    padding-top: 10px;
    justify-self:flex-end;
    
}

/*the ul list of drop down items*/
.GearDropDownList{
    position: absolute;
    left: 280px;
    margin-bottom: 4%;
    margin-left: 2%;
    padding: 2%;
    border-radius: 10px;
    text-align: center;
    color: var(--text-orange);
    background-color: rgba(20, 20, 20, 0.836) ;
    box-shadow: 0 0px 10px 6px var(--dropdown-background-color);
    display: none;
    flex-direction: column;
    grid-column: 2;
    z-index: 1;
}

.GearDropDownList ul {
    left: 82%;
}

.GearDropDownContainer:hover{
    background-color: var(--dropdown-background-color);
}


.GearDropDownHeader:hover + .GearDropDownList, .GearDropDownList:hover{
    display: flex;
}


.GearLI {
    margin-bottom: 4%;
    padding: 2%;
    border-radius: 10px;
    text-align: center;
    min-width: 200px;
    text-align: left;
}

.GearLI:hover{
    background-color: var(--dropdown-background-color);
}

.GearFont {
    font-size: 30px;
    font-weight: 400;
    color: rgb(var(--text-orange));
}

.GearHr {
    position: absolute;
    width: 1px;
    height: 96%;
    top: 2%;
    border: solid;
    border-width: 1px;
    border-color: var(--dropdown-background-color);
    margin-right: 10px;
}

.TabSelector {
    top: 18px;
    width: 300px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    margin-top: -50px;
    position: absolute;
}

.Tab {
    background-color: rgba(20, 20, 20, 1);
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0px 8px 6px var(--dropdown-background-color);
    position: relative;
}

.SelectedTab {
    background-color: rgb(20, 20, 20, 1);
    border-radius: 10px 10px 0px 0px;
    z-index: 1;
    position: relative;
    height: 150%;
}

.UnselectedTab {
    
    height: 250%;
    background-color: rgb(20, 20, 20, 1);
    border-radius: 10px 10px 0px 0px;
    z-index: 0;
    position: relative;

}