
:root
{
    --button-color: rgb(58, 58, 58);
}

/*--- Item Editor --- */

.ItemEditorMainContainer{
    position: relative;
    display: flex;
    align-items: start;
    justify-items: start;
}

.ItemBackground {
    width: 150px;
}

.ItemContainer{
    position: absolute;
    height: 172px;
    width: 68px;
    top: 28px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.Item{
    max-height: 172px;
    max-width: 68px;
}

.ReturnButton {
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border-width: 0px;
    bottom: 10px;
    left: 325px;
    background-color: rgb(var(--text-orange));
    padding: 2px;
    font-weight: 400;
    font-size: large;
    color: var(--text-white);
    cursor: var(--cursor-blue);
    z-index: 1;
}


/*--- Rarity List --- */

.RarityMainContainer {
    display: flex;
    flex-direction: row;
    justify-items:center;
}

.RarityDropDownButton {
    background-color: var(--button-color);
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-items: center;
    position: relative;
    min-width: 93px;
}

.LightMode {
    --text: rgba(255, 255, 255, 0.575);
    --blur: 4px;
    /*background-color: var(--text);*/
    text-shadow: 2px 2px var(--blur) var(--text), -2px 2px var(--blur) var(--text), 2px -2px var(--blur) var(--text), -2px -2px var(--blur) var(--text),
                 1px 1px var(--blur) var(--text), -1px 1px var(--blur) var(--text), 1px -1px var(--blur) var(--text), -1px -1px var(--blur) var(--text);
}

.DarkMode {
    --text: rgb(0, 0, 0);
    text-shadow: 1px 1px 0 var(--text), -1px 1px 0 var(--text), 1px -1px 0 var(--text), -1px -1px 0 var(--text);
}

.RarityDropDownList{
    flex-direction: column;
    background-color: var(--button-color);
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
}

.RarityDropDownList li {
    padding: 5px;
}


.RarityDropDownList li:hover {
    background-color: var(--dropdown-background-color);
}

.AutoUpdateText {
    font-size: medium;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.AutoUpdateCheckBox {
    margin-left: 5px;
    margin-top: 3px;
    cursor: var(--cursor-blue);
}



/*--- Damage --- */

.DamageWrapper {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 10px;
    margin-bottom: 15px;
}

.DamageInputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.DamageInput {
    margin-left: 5px;
    margin-top: 8px;
}

.DamageRarityWrapper {
    display: flex;
    flex-direction: row;
    font-size: 5px;
    align-items: center;
    justify-content: space-between;
    top: 80px;
    width: 95%;
    margin-left: 5px;
}

.DamageRarity {
    white-space: nowrap;
}

.DamageRarity.LightMode {
    --text: rgb(255, 255, 255);
    --blur: 5px;
    /*background-color: var(--text);*/
    text-shadow: 3px 3px var(--blur) var(--text), -3px 3px var(--blur) var(--text), 3px -3px var(--blur) var(--text), -3px -3px var(--blur) var(--text), 
                 2px 2px var(--blur) var(--text), -2px 2px var(--blur) var(--text), 2px -2px var(--blur) var(--text), -2px -2px var(--blur) var(--text),
                 1px 1px var(--blur) var(--text), -1px 1px var(--blur) var(--text), 1px -1px var(--blur) var(--text), -1px -1px var(--blur) var(--text);
}


/*--- Attribute Item --- */

.Attribute {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: start;
    margin: 10px;
    padding: 8px;
    width: 95%;
    margin-bottom: 15px;
}

.AttributeInput {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 70px;
    text-align: right;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
    appearance: textfield;
}

/*--- Attribute Type Input --- */

.AttributeTypeWrapper {
    display: flex;
    flex-direction: row;
    cursor: var(--cursor-blue);
}

.AttributeTypeButton {
    background-color: var(--button-color);
    text-align: center;
    display: block;
    position: relative;
    width: 175px;
}

.AttributeTypeButtonText {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    padding: 0;
    border: 1px solid black;
    border-bottom: none;
}

.AttributeTypeList {
    position: absolute;
    background-color: var(--button-color);
    font-size: 15px;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    border: 1px solid black;
    border-top: none;
}

.AttributeTypeLI {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}

.AttributeTypeLI:hover {
    background-color: var(--dropdown-background-color);
}