
.Th {
font-weight:bold;
color:#eee;
background-color: rgb(220,220,220,0.2);
text-align:center;
vertical-align:middle;
width:100vh
}

.Table {
    width:98vw;
    color:#eee;
    background:transparent;
    text-align:center;
    vertical-align:middle;
}


.Iconbox {
    display:inline-block;
    max-width:initial;
}

.wikitable {
    background: transparent;
    color: #eee;
    font-size: min(max(1vw,10px),16px)
}

.wikitable th,#content .wikitable caption {
    font-weight: bold;
    color: #eee;
    background-color: rgb(220,220,220,0.2);
    text-align: center;
    vertical-align: middle
}

.wikitable caption,#content .wikitable td,#content .wikitable th {
    border-color: #444;
    border: 1px solid #a2a9b1;
    color: #eee;
    border-spacing: 0px
}