
:root {
  --cursor-yellow:  url(https://darkanddarker.wiki.spellsandguns.com/skins/ScratchWikiSkin2/resources/custom-cursor.webp?00824) 4 4, auto;
  --cursor-blue:  url(https://darkanddarker.wiki.spellsandguns.com/skins/ScratchWikiSkin2/resources/custom-cursorlink.webp?45785)4 4, auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  width: 100%;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

body { 
  display: block;
  margin: 0;
  background-image: url('images/kenny-eliason-uc7JVq80PgQ-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  width: auto;
 min-height: 100vh;
  padding: 0;
  color: #575e75;
  font-family: var(--font-family);
  font-size: 16px;
  cursor: var(--cursor-yellow);
}
a {
  cursor: var(--cursor-blue);
  color: rgb(var(--link-color))
}

area {
  cursor: var(--cursor-blue);
  color: rgb(var(--link-color))
}


::-webkit-scrollbar
{
  width: 0px;
}

::-webkit-scrollbar-thumb
{
  background: linear-gradient(transparent,rgb(221,149,42),transparent);
  border-radius: 6px;

} 