.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  width: 100%;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

body { 
  display: block;
  margin: 0;
  background-image: url('images/kenny-eliason-uc7JVq80PgQ-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  width: auto;
 min-height: 100vh;
  padding: 0;
  color: #575e75;
  font-family: var(--font-family);
  font-size: 16px;
  cursor: url(https://darkanddarker.wiki.spellsandguns.com/skins/ScratchWikiSkin2/resources/custom-cursor.webp?00824) 4 4,auto
}
a {
  cursor: url(https://darkanddarker.wiki.spellsandguns.com/skins/ScratchWikiSkin2/resources/custom-cursorlink.webp?45785)4 4,auto;
  color: rgb(var(--link-color))
}

area { cursor: url(https://darkanddarker.wiki.spellsandguns.com/skins/ScratchWikiSkin2/resources/custom-cursorlink.webp?45785)4 4,auto;
  color: rgb(var(--link-color))
}
